/* Basic CSS for offline wiki rendering */

body {
  font-family: Fira Sans,Arial,Helvetica,sans-serif;
  font-size: 14px;
  text-align: justify;
  /*background: #fff;
  color: #000;*/
  max-width: 800px;
  }

h1 {
  font-size: 2.4em;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  }
  
h2 {
  font-weight: normal;
  font-size: 1.6em;
  border-bottom: 1px solid #ddd;
  }
  
h3 {
  padding-left: 20px;
  }
  
img {
  max-width: 100%;
  }
  
li {
  margin-top: 10px;
  }

pre, .mw-code {
  text-align: left;
  /*background: #eee;*/
  padding: 5px 5px 5px 20px;
  font-family: mono;
  border-radius: 2px;
  }

a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #2969C4;
  }

a:hover {
  text-decoration: underline;
  }

.printfooter {
  font-size: 0.8em;
  color: #333333;
  border-top: 1px solid #333;
  margin-top: 20px;
  }

.wikitable #toc {
  font-size: 0.8em;
  }

.ct, .ctTitle, .ctOdd, .ctEven th {
  font-size: 1em;
  text-align: left;
  width: 190px;
  float: right;
  /*background: #eee;*/
  margin-top: 10px;
  border-radius: 2px;
  }
  
.ct {
  margin-left: 15px;
  padding: 10px;
  }
#mw-navigation {
  display:none; /*TODO remove on next build (included below)*/
 }
